---
interface Props {
    content: string
    direccion: string
    alinText: string

}
const { direccion, content, alinText } = Astro.props;
const routs =[
    {ruta:'/', data:'inicio' }, 
    {ruta:'/servicios', data:'servicios'}, 
    {ruta:'/platillos', data:'platillos'}, 
    {ruta:'/reserva', data:'reserva'}
];
---
<div class=`${content}`>
    <ul class= `${direccion}`>
        {
            routs.map(rout =>(
                <li class="w-full h-full group">
                    <a class={`w-full h-full flex ${alinText} items-center`} href={rout.ruta}>
                        <span class="uppercase text-color3 dark:text-color1 font-title font-bold md:text-sm xl:text-lg
                         group-hover:text-color5 group-hover:border-b-4 dark:group-hover:text-primary">{rout.data}</span>
                    </a>
                </li>
            ))
        }
        
        
    </ul>
</div>
