---
interface Props {
	title: string;
    ruta: string;
    ancho: string;
    hover: string;
    textColor: string
}

const { hover, title, ancho, ruta, textColor } = Astro.props;
---
<button class={`${ancho} ${hover} mx-auto shadow-shadow1 flex justify-center items-center`}>
    <a class={`${textColor} w-full h-full flex items-center justify-center `} href={ruta}>
        <span>{title}</span>
    </a>
</button>